.bienvenido {
  background-color: white;
}

.bienvenido-icon {
  color: white;
  display: inline-block;
  -moz-border-radius: 60px;
  -webkit-border-radius: 60px;
  border-radius: 50px;
  -moz-box-shadow: 0px 0px 2px #888;
  -webkit-box-shadow: 0px 0px 2px #888;
  box-shadow: 0px 0px 2px #888;
  border: 4px solid rgb(71, 125, 109);
  background-color: rgb(71, 125, 109);
}

.bienvenido-img {
  margin-bottom: 30px;
}

.bienvenido-text {
  height: 200px;
  margin: 50px 50px 10px 50px;
  @media only screen and (max-width: 600px) {
    margin: 0px;
  }
  #titulo {
    font-family: "Gotham-BookItalic";
    font-size: 2em;
    color: black;
    margin-bottom: 0;
  }

  .texto {
    font-family: "Gotham-ThinItalic";
    opacity: 1;
    color: black;
    margin-bottom: 0;
    font-size: 1em;
  }
}

.bienvenido-barra {
  padding: 10px;
  background-image: url("../assets/barra2.png");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 50px;
  padding-bottom: 0px;
}

.bienvenido-barra img {
  width: 100%;
}

.bienvenido-prov {
  p {
    font-family: "Gotham-Light";
    font-size: 1em;
    @media only screen and (max-width: 600px) {
      text-align: center;
    }    
    
    /* Medium devices (landscape tablets, 768px and up) */
    @media only screen and (min-width: 600px) and (max-width: 760px) {
      left: 3%;
    }  
  }
  
  .prov {
    font-family: "Gotham-Medium";
    font-size: 20px;
    @media only screen and (max-width: 600px) {
      text-align: center;
      font-size: 12px;
    }
    
    @media only screen and (min-width: 760px) and (max-width: 992px) {
      font-size: 10px;
      
    }
    @media only screen and (min-width: 992px) and (max-width: 1200px) {
      font-size: 15px;
    }
  }
  .datos {
    font-family: "Gotham-Light";
  }
}

.imagenes .solapado{
  position: relative;
}

.imagenes .circulos{
  position: absolute;
}


.elementos {
  position: relative;
}

.elementos .burbujas {
  z-index: 1;
  position: relative;
  top: -25%;
}

.elementos .texto {
  z-index: 2;
  font-weight: bold;
  position: relative;
  font-size: 1em;
  font-family: "Gotham-LightItalic";
  top: -20%;
}
