

body{
    background:white;
  }
footer{
    background: rgba(85, 150, 128, 100);
}
  
  
footer div p {
    font-family:Gotham-BookItalic;
    font-size: 0.8em;
    color: white;
    margin:0px auto;
    text-align: center;
  
  }


.logo-footer{
    display: block;
    width:300px;
    height:200px;
    margin: auto;
    }

.imagen-24hs {
    display: block;
    margin:auto;
     }
