

body{
    background:white;
  }
footer{
  background: linear-gradient(90deg, rgba(71,126,108,1) 37%, rgba(72,129,110,1) 58%, rgba(86,153,130,1) 78%, rgba(105,198,166,1) 100%);
  
}
  
footer div p {
    font-family:Gotham-BookItalic;
    font-size: 0.8em;
    color: white;
    margin:0px auto;
    text-align: center;
  
  }


.logo-footer{
    display: block;
    width:300px;
    height:200px;
    margin: auto;
    }

.imagen-24hs {
    display: block;
    margin:auto;
     }
