header
    background: url('../assets/bg-clinica.jpg')
    &.header-no-bg
        background: none
    background-position: center
    background-size: cover
    background-repeat: no-repeat 
    .img-logo
        padding: 0px
        width: 230px
        height: 130px
    .loguito
    .menu
        a
            position: relative
            font-size: 18px
            font-family: 'Gotham-BookItalic'
            text-decoration: none
            color: #000
            border: 1px solid transparent
            margin-left: 50px
            &::after
                content: ""
                width: 0%
                height: 3px
                background-color: red
                position: absolute
                bottom: 0%
                left: 50%
                border-radius: 10px
                transition: all 500ms ease
                background: #119c859a
                transform: skew(-60deg)
            &:hover
                &::after
                    left: 0%
                    width: 100%
    .social
        .facebook, .whatsapp, .instagram
            display: block
            font-size: 15px
            margin-left: 20px
            background: #178a77
            color: #fff
            position: relative
            &:hover
                background: #1aa58e
        .logo-ur
            width: 140px 
            height: 30px
            margin-right: 10px
        .whatsapp
            padding: 5px 10px
            border-radius: 50%
            position: relative
            display: inline-block
            .enlace-wa
                visibility: hidden
                width: 160px
                background-color: #1aa58e
                color: #fff
                text-align: center
                border-radius: 6px
                padding: 10px 0
                position: absolute
                z-index: 1
                top: 110%
                left: 150%
                margin-left: -60px
                a
                    color: #fff
                    font-size: 7px
                    font-family: 'Gotham-Bold'
                &::after
                     content: ""
                     position: absolute
                     bottom: 100%
                     left: 18%
                     margin-left: -5px
                     border-width: 5px
                     border-style: solid
                     border-color: transparent transparent #1aa58e transparent
            &:hover
                .enlace-wa
                    visibility: visible
        .facebook
            padding: 5px 12px
            border-radius: 50%
            position: relative
            display: inline-block
            .enlace-fb
                visibility: hidden
                width: 160px
                background-color: #1aa58e
                color: #fff
                text-align: center
                border-radius: 6px
                padding: 10px 0
                position: absolute
                z-index: 1
                top: 110%
                left: 150%
                margin-left: -110px
                a
                    color: #fff
                    font-size: 9px
                    font-family: 'Gotham-Bold'
                &::after
                     content: ""
                     position: absolute
                     bottom: 100%
                     left: 48%
                     margin-left: -5px
                     border-width: 5px
                     border-style: solid
                     border-color: transparent transparent #1aa58e transparent
            &:hover
                .enlace-fb
                    visibility: visible
        .instagram
            padding: 5px 10px
            border-radius: 50%
            position: relative
            display: inline-block
            .enlace-ig
                visibility: hidden
                width: 160px
                background-color: #1aa58e
                color: #fff
                text-align: center
                border-radius: 6px
                padding: 10px 0
                position: absolute
                z-index: 1
                top: 110%
                left: 150%
                margin-left: -160px
                a
                    color: #fff
                    font-size: 9px
                    font-family: 'Gotham-Bold'
                &::after
                     content: ""
                     position: absolute
                     bottom: 100%
                     left: 79%
                     margin-left: -5px
                     border-width: 5px
                     border-style: solid
                     border-color: transparent transparent #1aa58e transparent
            &:hover
                .enlace-ig
                    visibility: visible
    .slide
        .texto-header
            margin-top: 250px
            text-align: center
            color: #fff
            font-family: 'Gotham-Black'
            .parrafo-header
                margin-top: 5px
                font-size: 40px
                text-shadow: 1px 1px 5px #000
        .btn-conoce
            padding: 6px 20px
            font-size: 25px
            background: #279269
            font-family: 'Gotham-BookItalic'
            border: none
            float: right
            border-radius: 10px
            margin-bottom: 250px
            a
                color: #fff
                text-decoration: none
            &:hover
                background: #3a7e64

@media all and ( max-width: $screen-xs-max)
    header
        .img-logo
            width: 100px
            height: 100px
        .menu
            .nav-item
                font-size: 15px
                font-family: 'Gotham-Light'
                text-decoration: none
                text-align: center
                color: #000
                border: 1px solid transparent
                margin-left: 10px
                &:hover
                &::after
                    content: ""
                    width: 0%
                    height: 3px
                    background-color: red
                    position: absolute
                    bottom: 0%
                    left: 50%
                    border-radius: 10px
                    transition: all 500ms ease
                    background: #119c859a
                    transform: skew(-60deg)
                &:hover
                    &::after
                        left: 40%
                        width: 20%
               
                       
        .social
            display: none
        .slide
            .texto-header
                margin-top: 150px
                .parrafo-header
                    margin-top: 5px
                    font-size: 20px
                    text-shadow: 1px 1px 5px #000
            .btn-conoce
                width: 103%
                text-align: center
                padding: 6px 20px
                font-size: 20px
                background: #279269
                font-family: 'Gotham-Book'
                border: 1px solid #fff
                border-radius: 5px
                margin-bottom: 150px
                margin-top: 10px

@media all and (min-width: $screen-sm-min ) and (max-width: 1023px)
    header
        .navbar-toggler
            margin-bottom: 40px
        .img-logo
            margin-left: -37px
            margin-top: -20px
        .menu
            padding: 0px 0px
            margin-top: 0px 
            margin-left: 0px
            .nav-item
                font-size: 20px
                font-family: 'Gotham-Light'
                text-decoration: none
                text-align: center
                color: #000
                border: 1px solid transparent
                margin-left: 10px
                &:hover
                &::after
                    content: ""
                    width: 0%
                    height: 3px
                    background-color: red
                    position: absolute
                    bottom: 0%
                    left: 50%
                    border-radius: 10px
                    transition: all 500ms ease
                    background: #119c859a
                    transform: skew(-60deg)
                &:hover
                    &::after
                        left: 40%
                        width: 20%

@media all and ( max-width: $screen-sm-max )
    header
        .social
            .logo-ur
                display: none

    

    

    

    