.tecnologia {
    //width: 100%;
    background: url('../assets/fondo-tecnologia.png') #d18437;
    background-position: center;
    background-size: cover;
    //background-size: 100% 100%;
    background-repeat: no-repeat;
    //background-attachment: fixed;


    &__contenedor {
        //width: 70%;
        height: 750px;
        margin: auto;
        font-family: 'Gotham-LightItalic';
        //padding: 30px 80px;
        position: relative;
    }

    .textos {
        text-align: justify;
        color: #fff;
        margin: auto;
        padding-top: 80px;
        position: absolute;
        opacity: 0;
        margin-top: 0;
        
        .titulo {
            font-size: 30px;
            margin-bottom: 15px;
            font-weight: bold;
        }
        .parrafo {
            font-size: 1em;
        }
    }
}